<form class="fipe-form" [formGroup]="form">
  <mat-form-field>
    <mat-label>Tipo do veículo</mat-label>
    <mat-select formControlName="vehicleType">
      <mat-option [value]="formModel.vehicleType[0]">-- Selecione uma opção --</mat-option>
      @for (item of vehicleTypes; track $index) {
        <mat-option [value]="item.code">{{ item.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Marca</mat-label>
    <mat-select formControlName="brandId">
      <mat-option [value]="formModel.brandId[0]">-- Selecione uma opção --</mat-option>
      @for (item of brands$ | async; track $index) {
        <mat-option [value]="item.code">{{ item.name }}</mat-option>
      }
    </mat-select>
    @if (brandsLoading()) {
      <mat-spinner matSuffix [diameter]="25"></mat-spinner>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modelo</mat-label>
    <mat-select formControlName="modelId">
      <mat-option [value]="formModel.modelId[0]">-- Selecione uma opção --</mat-option>
      @for (item of models$ | async; track $index) {
        <mat-option [value]="item.code">{{ item.name }}</mat-option>
      }
    </mat-select>
    @if (modelsLoading()) {
      <mat-spinner matSuffix [diameter]="25"></mat-spinner>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ano</mat-label>
    <mat-select formControlName="yearId">
      <mat-option [value]="formModel.yearId[0]">-- Selecione uma opção --</mat-option>
      @for (item of years$ | async; track $index) {
        <mat-option [value]="item.code">{{ item.name }}</mat-option>
      }
    </mat-select>
    @if (yearsLoading()) {
      <mat-spinner matSuffix [diameter]="25"></mat-spinner>
    }
  </mat-form-field>
</form>
